/* base - Desktop */
:root {
    --silver-pink: #c4a69dff;
    --laurel-green: #98a886ff;
    --black-coral: #465c69ff;
    --space-cadet: #363457ff;
    --royal-purple: #735290ff;
    --grey-light: rgb(245, 245, 245);
}

h1 {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 22px;
    opacity: 5;
}

* {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    font-family: 'Futura', 'Aavenir', 'Helvetica';
    line-height: 1.25rem;
}


body {
    width: 100%;
}

header {
    height: 50px;
    width: 100%;
    background-color: var(--space-cadet);
    align-items: center;
    justify-content: center;
    position: sticky;
}

.header-ul {
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style-type: none;
    width: 100%;
}

.header-a {
    color: white;
}

.row {
    flex-direction: row;
}

.li-of-img { height: 50px; }

.header-img {
    height: 70%;
    width: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.hero {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);}

.col {
    flex-direction: column; 
}

.full-width {
    width: 100%;
}

.hero-img {
    height: 200px;
    width: 200px;
}

.hero-ul {
    gap: 10px;
}

.center {
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about {
    height: 75px;
    padding: 30px 40px;
    background-color: var(--grey-light);
}

.cat-boxes {
    justify-content: space-evenly;
}

.cat-box {
    width: 150px;
    height: 200px;
    padding: 10px;
    border: black 1px solid;
    border-radius: 2px;
}

.cat-box-img {
    width: 100px;
    height: 100px;
}

#new-cats, #hold-cats, #kities-cats {
    gap: 20px;
    padding: 40px 10%;
}

#new-cats, #kities-cats {
    background-color: var(--black-coral);
}

#hold-cats {
    background-color: var(--grey-light);
}

/* para tablets */
@media (max-width: 600px) {

    * { align-items: unset; }

    header { 
        position: flex; 
        height: auto;
        width: 30%;
    }

    .hero {     
        width: 50%;
        padding: 10%;
    }

    .header-ul { 
        flex-direction: column; 
        align-items: initial; 
        gap: 10px;
        padding: 10px 40px 10px 40px;
        height: auto;
    }

    .header-li {
        background-color: white;
        border: var(--black-coral) 2px solid;
        border-radius: 2px;
    }

    li:hover { background-color: var(--laurel-green); opacity: 0.9; }

    .li-of-img { 
        background-color: rgba(255, 255, 255, 0.0);
        border: 0px;
    }

    .header-a { color: black }

    .hero, .about { height: auto; }

    .cat-boxes { gap: 10px; }
}
/* movile */
@media (max-width: 480px) {


}

/* equipos grandes */
@media (min-width: 1400px) {
    body { justify-content: center; }
    header { width: 1400px; }
}